@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .rotate-x-90 {
    transform: rotateX(90deg);
  }
  .rotate-x-0 {
    transform: rotateX(0deg);
  }
}
